:root {
  /* color sunset */
  --sunset1: rgb(41, 52, 98);
  --sunset2: rgb(214, 28, 78);
  --sunset3: rgb(254, 177, 57);
  --sunset4: rgb(255, 248, 10);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(114, 113, 113, 1);
  border-radius: 10px;
  height: 200px;
}

.category-area {
  transition: background-color .3s ease;
  :hover {
    background-color: var(--sunset3) !important;
    color: #fff !important;

    span {
      color: #fff !important;
      opacity: 1 !important;
    }
  }
}

.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  padding: 7px 15px;
  margin: 10px 0;
  border-radius: 20px;
  transition: all 0.3s ease;

  :hover {
    background-color: #fc1503 !important;
    color: #ddd !important;

    span {
      color: #ddd !important;
    }
  }
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar {
  border: none;
  outline: none;
  width: 350px;
}

@media screen and (max-width: 900px) {
  .category-btn {
    margin: 10px;
  }
}

@media screen and (max-width: 800px) {
  .copyright {
    display: none !important;
  }
}
